<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EZ Consul</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css" />
</head>
<body>
    <div id="main" v-cloak>
        <div id="consul">
            <input type="text" v-model="address">
            <button @click="setAddress">Set Address</button>
            <button @click="openAll">Open All</button>
            <button @click="closeAll">Close All</button>
            <input type="text" v-model="searchText">
            <button @click="search">Search</button>
            <input type="text" v-model="replaceText">
            <button @click="replace">Replace</button>
            <button @click="replaceSave">Confirm</button>
            <ul>
                <consul v-for="(node, index) in result.JJ.Ks" :tree="node" :key="index" :kvp="result.KVP" :kvpafter="resultAfter.KVP" :kvpbefore="resultBefore.KVP"></consul>
            </ul>
        </div>
        <div id="msg-wrap">
            <div v-for="(msg, index) in msgQue" :class="msg.status">{{msg.msg}}</div>
        </div>
    </div>
    <script src="vue"></script>
    <script src="js"></script>
</body>
</html>