[v-cloak] {
    display: none;
}
  
html, body {
    height: 100%;
}
  
body {
    margin: 0;
    background: #1e2838;
    color: #FFF;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.vtext {
    overflow: hidden;
    min-width: 300px;
    min-height: 100px;
}

.TYPE_PATH {
    cursor: pointer;
    color: #2cf8d6;
}

.TYPE_HASV {
    color: #fdb56b;
}

.vdiv{
    float:left;
    background-color: #156067;
    padding: 5px 10px;
    white-space: pre-wrap /* for vue html line break */
}